* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}

body {
    background: #331F1F;
}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px;
    background-color: #DC2321;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    margin-left: 800px;
    position: relative;
    bottom: -5em;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.Signup {
 font-size: 1rem;
 margin-top: 1rem;
 padding: 10px 0;
 border-radius: 20px;
 outline: none;
 border: none;
 width: 90%;
 color: #fff;
 cursor: pointer;
 align-items: center;
 justify-content: center;
 display: flex;
 margin-left: 15px;
}


.Signup:hover {
    background: rgba(17, 107, 143, 0.877);
}

.terms {
    margin-top: 0.2rem;
}

.terms input {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label {
    font-size: 0.9rem;
    color: #331F1F;
}

.terms a {
    color: rgb(17, 107, 143);
    text-decoration: none;
}

.member {
    font-size: 1rem;
    margin-top: 1.4rem;
    color: #331F1F;
}

.member a {
    /* color: rgb(17, 107, 143); */
    text-decoration: none;
}