.profile {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.profileInfo {
  width: 1200px;
  padding: 2rem 1rem;
  margin: 50px;
  border: solid red;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  margin-left: 600px;
  position: relative;
  bottom: 2em;
  left: -15.2em;
  display: flex;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  margin-top: 50px;
}

.EditProfile {
  color: #fff;
  margin-left: 10px;
}

.DeleteProfile {
  color: #fff;
}

.UploadImage {
  color: #fff;
  border-radius: 0px 10px 10px 0px;
  height: 50px !important;
  border: none !important;
  outline: none !important;
}

.UploadImage:hover {
  background: rgba(17, 107, 143, 0.877);
}

.EditProfile:hover {
  background: rgba(17, 107, 143, 0.877);
}

.DeleteProfile:hover {
  background: red;
}

.controls {
  margin-top: 10px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.firstField {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.secondField {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.thirdField {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.photoProfile img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 30px;
  aspect-ratio: 1/1;
}

.info {
  width: 1100px;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.controls {
  position: relative;
  align-items: center;
}

.photoProfileSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.controls button {
  width: fit-content !important;
}

.file-upload-wrapper {  
  position: relative;
  width: 300px;
  height: 50px;
  display: flex;
  
  &:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    display: block;
    width: 200px;
    pointer-events: none;
    z-index: 20;
    height: 50px;
    line-height: 50px;
    color: #999;
    border-radius: 10px 0px 0px 10px;
    font-weight: 300;
  }
  
}
.file-upload-wrapper input {
 height: 50px;
 cursor: pointer;
 border-radius: 10px;
 width: 200px !important;
}

